{% extends 'store/main.html' %}
{% load static %}
{% block content%}

<div class="row">
    <!--Ajuste parte superiro de la tabla-->
    
    <div class="col-lg-12">
        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'store'%}">&#x2190; Continuar Comprando</a>
            <br>
	        <br>
            <!-- Ajustes de item y boton de checkout-->
	        <table class="table">
		        <tr>
			        <th><h5>Items: <strong>x {{order.get_car_item}}</strong></h5></th>
			        <th><h5>Total:<strong> ${{order.get_car_total}} </strong></h5></th>
			        <th>
				        <a style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
			        </th>
		        </tr>
	        </table>
        </div>
        
        <br>
      
        <!-- Ajuste parte inferior de la tabla y componentes para la compra-->
        <div class="box-element">
            <div class="cart-row">
                <div style="flex:2"></div>
                <div style="flex:2"><strong>Item</strong></div>
                <div style="flex:1"><strong>Precio</strong></div>
                <div style="flex:1"><strong>Cantidad</strong></div>
                <div style="flex:1"><strong>Total</strong></div>
            </div>
            
           <!-- -->
           {% for item in Items  %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{item.products.image.url}}"></div>
                <!-- <div style="flex:2"><p>PRODUCTO 1</p></div> -->
                <div style="flex:2"><p>{{item.products.name}}</p></div>
                <!-- <div style="flex:1"><p>$ 1.600.000</p></div> -->
                <div style="flex:1"><p>${{item.products.price|floatformat:0}}</p></div>
                <div style="flex:1">
                    <p class="quantity">x{{item.quantity}}</p>
                    
                    <div class="quantity">
                        <img class="chg-quantity" src="{% static  'img/up-arrow.png' %}">
                        <img class="chg-quantity" src="{% static  'img/down-arrow.png' %}">
                    </div>
                </div>
                <div style="flex:1"><p>$ {{item.get_total}}</p></div>
        </div>
               {% endfor %}
    </div>
</div>
{% endblock content %}