{% extends 'store/main.html' %}
{% load static %}


{% block content%}
<div class="row">
	<div class="col-lg-6">
		<div class="box-element" id="form-wrapper">
            <form id="form">
                <div class="user-info">
                    <div class="form-field">
                        <input required class="form-control" type="text" name="name" placeholder="Nombres y Apellidos">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="email" name="email" placeholder="Email..">
                    </div>
                </div>

                <div id="shipping-info">
                    <hr>
		                <p>Informacion De Envio:</p>
		                <hr>
		                <div class="form-field">
		                	<input class="form-control" type="text" name="address" placeholder="Dirección">
	                	</div>
		                <div class="form-field">
			                <input class="form-control" type="text" name="city" placeholder="Ciudad">
		                </div>
		                <div class="form-field">
		                	<input class="form-control" type="text" name="state" placeholder="Departamento">
	                	</div>
		                <div class="form-field">
		                	<input class="form-control" type="text" name="celular" placeholder="Numero Telefonico">
	                	</div>
                </div>
                <hr>
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
            </form>
		</div>

        <br>
        <div class="box-element hidden" id="payment-info">
            <small>Paypal</small>
        </div>

	</div>

	<div class="col-lg-6">
		<div class="box-element">
            <a  class="btn btn-outline-dark" href="{% url 'car' %}">&#x2190; Regresar al Carrito</a>
	        <hr>
	        <h3>Resumen Del Pedido</h3>
	        <hr>
			{% for item in Items %}
	        <div class="cart-row">
		        <div style="flex:2"><img class="row-image" src="{{item.products.image.url}}"></div>
		        <div style="flex:2"><p>{{item.products.name}}</p></div>
		        <div style="flex:1"><p>${{item.products.price}}</p></div>
		        <div style="flex:1"><p>x{{item.quantity}}</p></div>
	        </div>
	        {% endfor%}
            <h6>Items: x {{order.get_car_item}} </h6>
	        <h6>Total:   ${{order.get_car_total|floatformat:0}}</h6>

		</div>
	</div>
</div>
{% endblock content%}